# Bootstrap
app/bootstrap*

# Symfony directories
bin
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*
web/data/*
web/miniatures/*
web/originals/*
web/html5lightbox
web/*/compiled

# Configuration files
app/config/parameters.ini
app/config/parameters.yml

*~
