# Bootstrap
app/bootstrap*

# Symfony directories
bin
vendor/*
*/logs/*
*/cache/*
www/uploads/*
www/bundles/*
www/data/*
www/miniatures/*
www/originals/*
www/html5lightbox
www/*/compiled

# Configuration files
app/config/parameters.ini
app/config/parameters.yml

*~
