<div id="left-menu">
	<div style="float:left; width:100%;  margin:5px 0 5px 0;">
	<fb:like-box class="fb_iframe_widget" fb-xfbml-state="rendered" href="http://www.facebook.com/pages/EPS-EFREI-Picture-Studio/185506127820" height="320" stream="false" width="220" connections="6"><span style="height: 320px; width: 220px;"><iframe src="http://www.facebook.com/plugins/likebox.php?api_key=&amp;locale=fr_FR&amp;sdk=joey&amp;channel=http%3A%2F%2Fstatic.ak.facebook.com%2Fconnect%2Fxd_arbiter.php%3Fversion%3D17%23cb%3Df2749047ed4a53c%26origin%3Dhttp%253A%252F%252Feps.assos.efrei.fr%252Ff352fe375566958%26domain%3Deps.assos.efrei.fr%26relation%3Dparent.parent&amp;connections=6&amp;height=320&amp;header=true&amp;show_faces=true&amp;stream=false&amp;width=220&amp;href=http%3A%2F%2Fwww.facebook.com%2Fpages%2FEPS-EFREI-Picture-Studio%2F185506127820&amp;colorscheme=light" class="fb_ltr" style="border: medium none; overflow: hidden; height: 320px; width: 220px;" name="f25b728c8e0c9a" id="f30d3208d16f296" scrolling="no"></iframe></span></fb:like-box>
	</div>
		
	<script type="text/javascript" src="{{ asset('js/moment-with-langs.min.js') }}"></script>
	<script>moment.lang('fr');</script>
	<div style="float:left; width:100%;  margin:5px 0 5px 0;">
		<h4>Derniers connectés</h4>
		<ul>
			{% for user in users %}
			<li><a href="{{ path('user_show', {id: user.id}) }}">{{ user.username }}</a>
				<small><em>(<script>
			document.write(moment("{{ user.getLastActivityText }}", "YYYYMMDD HHmmss").fromNow());
		</script></em>)</small></li>
			{% endfor %}
		</ul>
	</div>
</div>
