		<div class="main-slider">
			<div id="slider" class="nivoSlider">
				<img src="{{ asset('img/slide1.jpg') }}" alt="" title="#htmlcaption">
				<img src="{{ asset('img/slide2.jpg') }}" alt="" title="#htmlcaption1">
				<img src="{{ asset('img/slide3.jpg') }}" alt="" title="#htmlcaption2">
			</div>

			<div id="htmlcaption" class="nivo-html-caption">
				<span>Soirée d'intégration - Boite (2), <em>par Amélie</em></span>
			</div>

			<div id="htmlcaption1" class="nivo-html-caption">
				<span>Soirée d'intégration - Boite (1), <em>par Alfo</em></span>
			</div>

			<div id="htmlcaption2" class="nivo-html-caption">
				<span>Soirée d'intégration - Bus, <em>par Alfo</em></span>
			</div>

			<div id="preloader"></div>
		</div>