		<div class="main-slider">
			<div id="slider" class="nivoSlider">
				<img src="{{ asset('img/slide1.jpg') }}" alt="" title="#htmlcaption">
				<img src="{{ asset('img/slide2.jpg') }}" alt="" title="#htmlcaption1">
				<img src="{{ asset('img/slide3.jpg') }}" alt="" title="#htmlcaption2">
			</div>

			<div id="htmlcaption" class="nivo-html-caption">
				<span>Gala EFREI (1), <em>au Club Haussman</em></span>
			</div>

			<div id="htmlcaption1" class="nivo-html-caption">
				<span>Gala EFREI (2), <em>au Club Haussman</em></span>
			</div>

			<div id="htmlcaption2" class="nivo-html-caption">
				<span>Stand photo Gala Efrei, <em>au Club Haussman</em></span>
			</div>

			<div id="preloader"></div>
		</div>