{% extends "::base.html.twig" %}


{% block content %}

	<h2>Inscription</h2>

	<ul class="progress-tracker">
		<li class="number done">1</li>
		<li class="text done">Informations</li>
		
		<li class="number active">2</li>
		<li class="text active">Liaison avec le SSO</li>
		
		<li class="number">3</li>
		<li class="text">Saisie des données personelles</li>
		
		<li class="number">4</li>
		<li class="text">Récapitulatif</li>
	</ul>
	
	{% if error is defined %}
	    <div class="alert alert-error">
		{{ error }}<br />
		</div>
	{% endif %}
	
	<p>La liaison de votre compte avec le SSO permet de récupérer <strong>vos informations</strong>
	et de <strong>vérifier votre appartenance à l'EFREI</strong>.<br /><br /></p>

	<blockquote>
		<p style="font-size: 14px;"><strong>SSO</strong>: L'authentification unique (ou identification unique; en anglais Single Sign-On : SSO) est une méthode permettant à un utilisateur de ne procéder qu'à une seule authentification pour accéder à plusieurs applications informatiques (ou sites web sécurisés).</p>
		 <small>Source : <a href="http://fr.wikipedia.org/wiki/Authentification_unique">Wikipedia</a></small>
		
	</blockquote>

	<blockquote class="pull-right">
		<p><strong>Vous serez redirigé vers une autre page, et renvoyé sur le site d'EPS après authentification.</strong><br />
		<a href="{{ link }}" class="btn btn-large btn-success" type="button">Accéder au SSO &gt;</a></p>
	</blockquote>
	
	<p style="clear: right;"> </p>
	
{% endblock %}