{% extends '::base.html.twig' %}

{% block content -%}

	<h2>Vidéos</h2>
	<ul class="nav nav-list well" style="width: 200px;float: left;">
		
		<li class="nav-header">Années</li>
		{% for year in years %}
			{% if currentyear == year %}
			<li class="active">
				<a href="{{ path('videos_year', {year: 'all'}) }}">{{ year }}</a>
			</li>
			{% else %}
			<li>
				<a href="{{ path('videos_year', {year: year}) }}">{{ year }}</a>
			</li>
			{% endif %}
		{% endfor %}
	</ul>

	<div id="content-with-left-menu" style="margin-top: -55px;">
		{% include "::video-list.html.twig" %}
	</div>

	<p style="clear: both;"></p>
	
{% endblock %}
