{% trans_default_domain 'FOSUserBundle' %}
{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
<h2>{{ 'layout.changePassword'|trans }}</h2>
<hr />
{% include "FOSUserBundle:ChangePassword:changePassword_content.html.twig" %}
{% endblock fos_user_content %}
